@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Vollkorn&display=swap');

body{
    font-family: Ruluko, Aria, sans-serif;
    background-color:  #f8f4ef;
    font-size: 22px;
    margin: 0;
    padding: 0;    
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header{
    background-color:#f8f4ef;  
    display: grid;
    grid-template-columns: 300px auto;    
}

nav {
    display: flex;
    justify-content: space-around;
}
   
nav a {    
    color: #735448;
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 55px;
    } 

nav a:hover{
    background-color:#735448;
    color: #f8f4ef;   
}   

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;     
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
} 

#hero-msg{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 200px;
}

#hero-msg h1, #hero-msg h4 {
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 45px;
    text-align: right;    
} 

#content {
    max-width: 1600px;
    margin: 0 auto;    
}  

.gallery{
    display: grid;
    grid-template-columns: repeat(10, 1fr);    
    margin-top: 100px;
}

.gallery-title{
    grid-column: 3/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;     
}

figure{
    grid-row: 2/3;    
}

#fanart-index{
    grid-column: 2/3;
    width: 100%;
}

#cherry-index{
    grid-column: 4/6;
    width: 100%;
}

#face-index{
    grid-column: 7/9;
    width: 100%;
}


.aboutme{
    display: grid;
    grid-template-columns: repeat(10, 1fr);    
    margin-top: 100px;
    background: #D9CCC5;    
}

.about-title{
    grid-column: 4/8;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;     
}

.about_me_synopsis{
    grid-column: 2/5;
}

.synopsis{
    text-align: left;
    grid-column: 6/10;
}

.commission{
    display: grid;
    grid-template-columns: repeat(10, 1fr);     
    background: #A6948A;  
}

.msg{
    grid-row: 1;
    grid-column: 2/10;
    text-align: center;
}

.msg-p{
    grid-row: 3;
    text-align: center;
    grid-column: 4/8;
    margin-bottom: 50px;
}

.button-box-gallery{
    grid-row: 3;
    grid-column: 5/6;      
}

.button-box-about{
    grid-row: 3;
    grid-column: 5/ span 2;  
    margin-bottom: 50px;    
}

.button {
    border-radius: 4px;
    background-color: #735448;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;      
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.modal-window {
    position: fixed;
    background-color: rgba(55, 49, 49, 0.914);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

img {
    max-width: 100%
    }

.modal-close {
    color: var(--primary-color);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-window > div,
.modal-content {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 50px 1fr; /* Create a single column */
    grid-template-rows: auto auto auto; /* Create three rows */
    background: white;
}

.modal-content img {
    width: 100%;
    grid-column: 1/2; /* Image spans the first column */
    grid-row: 1;    /* Image is in the first row */
}

.modal-content h4 {
    grid-column: 3/4; 
    grid-row: 1/2;
    height: 20px
}

.modal-content p {
    margin-top: 80px;
    grid-column: 3/4;
    grid-row: 1/3; 
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

*, *:before, *:after {
    box-sizing: border-box;
    }

    footer{
        background-color:#735448;
        color: #f8f4ef;    
        padding: 25px 50px;        
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    footer a {
        text-decoration: none;    
        color:#f8f4ef;    
    }
    
    footer a:hover{
        background-color: #f8f4ef;
        color: #735448;
    } 
    
    footer p {
        font-size: 1.2em;
    } 
    
    footer p a:hover {
        text-decoration: underline;
    }                   
    
    footer .social img{
         padding-top: 15px;
    }