@import url('https://fonts.googleapis.com/css2?family=Ruluko&family=Vollkorn&display=swap');

body{
    font-family: Ruluko, Aria, sans-serif;
    background-color:  #f8f4ef;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header{
    background-color:#f8f4ef;  
    display: grid;
    grid-template-columns: 300px auto;    
}

nav {
    display: flex;
    justify-content: space-around;
}
   
nav a {    
    color: #735448;
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    padding: 55px;
    } 

nav a:hover{
    background-color:#735448;
    color: #f8f4ef;   
}   

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;     
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
} 

#hero-msg{
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 200px;
}

#hero-msg h1, #hero-msg h4 {
    font-family: Vollkorn, Arial, sans-serif;
    font-size: 45px;
    text-align: right;    
} 

#content {
    max-width: 1600px;
    margin: 0 auto;    
}  

.gallery{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}

figure{
    grid-row: 2/3;    
}

.button-box{
    grid-row: 3/4;   
    grid-column: 3/4;
    text-align: center; 
}

.modal-window {
    position: fixed;
    background-color: rgba(55, 49, 49, 0.914);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

img {
    max-width: 100%
    }

.modal-close {
    color: var(--primary-color);
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-window > div,
.modal-content {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr 50px 1fr; /* Create a single column */
    grid-template-rows: auto auto auto; /* Create three rows */
    background: white;
}

.modal-content img {
    width: 100%;
    grid-column: 1/2; /* Image spans the first column */
    grid-row: 1;    /* Image is in the first row */
}

.modal-content h4 {
    grid-column: 3/4; /* h4 spans the first column */
    grid-row: 1/2;    /* h4 is in the second row */
    height: 20px
}

.modal-content p {
    margin-top: 80px;
    grid-column: 3/4; /* p spans the first column */
    grid-row: 1/3;    /* p is in the third row */
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

*, *:before, *:after {
    box-sizing: border-box;
    }
