body

.home-grid{

    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 30px;

}

.cherry{
    width: 100%;
    grid-column: 1;
    grid-row: 1;    
    text-align: center;
}


.title{
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
    text-align: center;   
    font-size: 80px;
}

.sub{
    grid-column: 2/3;
    grid-row: 1;
    z-index: 1;    
    color: rgb(148, 28, 28);
    background-color: rgb(164, 169, 175);    
    text-align: center;  
    font-size: 25px;   
    position: relative;
    bottom: 0;
}
