body

#background{    
    grid-column: 2/3;
    grid-row: 1/3;    
    background-color: rgb(184, 173, 173);
    margin: 0%;
}
.home-grid{

    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 100px 100px;
    grid-gap: 20px;

}

.cherry{
    width: 90%;
    grid-column: 1;
    grid-row: 1/3;    
    text-align: center;
}


.title{
    grid-column: 1/3;
    grid-row: 1/2;
    z-index: 2;
    text-align: center;   
    font-size: 60px;   
    letter-spacing: .2em;
    align-self: center;    
    margin-bottom: 0%;
}

.sub{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;    
    color: rgb(148, 28, 28);   
    text-align: center;  
    font-size: 25px;    
    letter-spacing: .2em;
    margin: 0%;   
    align-self: center;      
}

