body{
background-color:#ffffff;
}

#hero {
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;    
}    

#hero-msg h1, #hero-msg h4 {
    text-align: center;
} 

#background {
    height: 725px;
    background-color:#7d7461;
    text-align: center;
}

header{
    background-color:#ffffff;    
}

nav {
    background-color:#bac7e0;
}

nav, a {
    color: #3a5ba3;
    text-align: center;
    text-decoration: none
    } 

nav a:hover{
    background-color:#3a5ba3;
    color: white;   
}    

.home-title{
    color: #7d7461;
}

h4{
    color: #7d7461;
}

.icon {
    width: 80px;
}

.button-box {
    text-align: center;
} 

main section {
    text-align: center;
} 

.book, .join{
    background-color:#7d7461;
    color: white;
    text-align: center;
    text-decoration: none
}

.book:hover, .join:hover{
    background-color: white;
    color: #7d7461;
    text-align: center;
}

.msg{
    background-color:#bac7e0;
    text-align: center;
}

.msg h2{
    color: #3a5ba3;
}
.msg p{
    color: #3a5ba3;
}
footer{
    background-color:#bac7e0;
    color: #3a5ba3;
}

footer a {
    text-decoration: none;
    background-color:#bac7e0;
    color:#3a5ba3;
    
}

footer a:hover{
    background-color: #3a5ba3;
    color: #ffffff;
} 

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}                   