@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Work+Sans&display=swap');

body{
background-color:#B8B2A3;
font-size: 22px;
margin: 0;
padding: 0;
}

#hero-img{
    width: 100%;
} 

#logo_link{
    padding-top: 5px;
}

#content {
    max-width: 1600px;
    margin: 0 auto;    
}    

#hero-msg h1, #hero-msg h4 {
    text-align: center;
} 

#background {
    height: 725px;
    background-color:#210F04;    
}

header{
    background-color:#210F04;    
}

nav a {
    font-family: Work Sans, Arial, sans-serif;
    color: #B8B2A3;
    text-align: center;
    text-decoration: none;
    padding: 35px;
    } 

nav a:hover{
    background-color:#B8B2A3;
    color: #210F04;   
}    

.home-grid{
    font-family: Rock Salt, Bradley Hand, sans-serif;
}

.home-title{
    color: #210F04;
    font-family: Rock Salt, Bradley Hand, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #210F04;
    font-family: Work Sans, Arial, sans-serif;
}

h2{
    margin: 0;
}

.logo{
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

.button-box {
    text-align: center;
} 

main section {
    text-align: center;
} 

main section img{
    box-sizing: border-box;
}

.book, .join{
    background-color:#bac7e0;
    color:#3a5ba3;
    font-family: Rock Salt, Bradley Hand, sans-serif;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color:#3a5ba3;
    color: #ffffff;
    text-align: center;
}

.card-img{
    border: 10px solid #210F04;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.msg{
    background-color:#bac7e0;
    line-height: 1.5em;
    text-align: center;
    padding: 35px;
}

.msg h2{
    color: #3a5ba3;
    font-family: Rock Salt, Bradley Hand, sans-serif;
}
.msg p{
    color: #3a5ba3;
    font-family: Work Sans, Arial, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
footer{
    background-color:#bac7e0;
    color: #3a5ba3;
    font-family: Work Sans, Arial, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    text-decoration: none;    
    color:#3a5ba3;    
}

footer a:hover{
    background-color: #3a5ba3;
    color: #ffffff;
} 

footer p {
    font-size: 1.2em;
} 

footer p a:hover {
    text-decoration: underline;
}                   

footer .social img{
     padding-top: 15px;
}