body     {
  margin: 0
}
  
  nav {
    text-align: center;
    background-color: steelblue;
    padding: 25px;
  }   
  
  #active {
    background-color: white;
    color: steelblue;    
  }
  a {
    font-size: 1.5em;
    color: white;
    margin: 40px;    
    padding: 25px;
  }
  a:hover {
    background-color: white;
    color: steelblue;
  }
  h1 {
    text-align: center;
    color: steelblue;   
    margin: 50px 0; 
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;    
  }
  p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    padding: 10px;    
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;    
  }

  footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
  }  
  footer p {
    font-size: 20px;
    margin: 20px auto;
    padding: 25px;
  }