body {
    background-color: lightgray;
    max-width: 1280px 0px;    
}

.hero{
    text-align: center;    
    margin: 0px;   
    padding: 0px;           
}

.container{
    text-align: center;
    background-color: gray; 
    width: 1280px;
    margin: 0%auto;
}

.container img{
    width: 250px;
    border-radius: 50%;
    border: 15px solid black;
    margin: 2% 2%;     
}