@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

.bridge{
    text-align: center;    
    margin: 0px;   
    padding: 0px;       
}

img{
    width: 100%
    }
.text{
    text-align: center;    
    margin: 10px;   
    padding: 0px;       
}

h6{
    color: rgb(60, 82, 149);   
    margin: 0px;   
    padding: 0px;   

}

h2{
    font-family: 'DM Serif Display', serif;
    margin: 0px;   
    padding: 0px;   
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr;
    text-align: center;      
    margin: 0px;   
    padding: 0px;   
    background-color: rgb(60, 82, 149);
    color: white;
}

.first{
    margin: 0%;
}

.second{
    margin: 0%;
    text-transform: uppercase;  
    grid-row: 2/3 ;
    
}

sup {
    vertical-align: super;
    font-size: smaller;
  }